<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <SemExpert_ImportExportApi>
            <version>0.1.0</version>
        </SemExpert_ImportExportApi>
    </modules>

    <global>

        <models>
            <importexportapi>
                <class>SemExpert_ImportExportApi_Model</class>
            </importexportapi>
        </models>

        <helpers>
            <importexportapi>
                <class>SemExpert_ImportExportApi_Helper</class>
            </importexportapi>
        </helpers>

    </global>

</config>